<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>H</key>
	<dict>
		<key>weight</key>
		<real>1.008</real>
		<key>radius</key>
		<real>0.53</real>
		<key>vdwradius</key>
		<real>1.2</real>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>255</integer>
			<key>blue</key>
			<integer>255</integer>
		</dict>
	</dict>
	
	<key>B</key>
	<dict>
		<key>weight</key>
		<real>10.81</real>
		<key>radius</key>
		<real>0.87</real>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>76</integer>
			<key>green</key>
			<integer>128</integer>
			<key>blue</key>
			<integer>76</integer>
		</dict>
	</dict>
	
	<key>C</key>
	<dict>
		<key>weight</key>
		<real>12.011</real>
		<key>radius</key>
		<real>0.67</real>
		<key>vdwradius</key>
		<real>1.7</real>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>230</integer>
			<key>green</key>
			<integer>230</integer>
			<key>blue</key>
			<integer>230</integer>
		</dict>
	</dict>
	
	<key>O</key>
	<dict>
		<key>weight</key>
		<real>15.999</real>
		<key>radius</key>
		<real>0.48</real>
		<key>vdwradius</key>
		<real>1.62</real>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>230</integer>
			<key>green</key>
			<integer>128</integer>
			<key>blue</key>
			<integer>128</integer>
		</dict>
	</dict>
	
	<key>F</key>
	<dict>
		<key>weight</key>
		<real>18.998</real>
		<key>radius</key>
		<real>0.42</real>
		<key>vdwradius</key>
		<real>1.47</real>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>147</integer>
			<key>green</key>
			<integer>157</integer>
			<key>blue</key>
			<integer>185</integer>
		</dict>
	</dict>
	
	<key>Co</key>
	<dict>
		<key>weight</key>
		<real>58.933</real>
		<key>radius</key>
		<real>1.52</real>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>13</integer>
			<key>green</key>
			<integer>13</integer>
			<key>blue</key>
			<integer>132</integer>
		</dict>
	</dict>
	
	<key>Ru</key>
	<dict>
		<key>weight</key>
		<real>101.07</real>
		<key>radius</key>
		<real>1.78</real>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>151</integer>
			<key>green</key>
			<integer>139</integer>
			<key>blue</key>
			<integer>133</integer>
		</dict>
	</dict>
</dict>
</plist>
