<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SymmLab copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SymmLab.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ucifParser copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ucifParser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>970CE4AE19319E7B0038841F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>970CE4BB19319E7C0038841F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>972BEDDE1A225880005F2640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>972BEE011A2258D2005F2640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9777B6571931533700E6316B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9777B6781931533700E6316B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
